*{
	margin: 0px;
	padding: 0px;
    text-decoration: none;
}
body{
    width: 100%;
}
.logo{
    width: 20%;
    height: auto;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    position: absolute;
}
.cabecera{
    width: 100%;
    height: 100vh;
}
.menu{
    width: 100%;
    height: 5vh;
    position: absolute;
}
.menu li{
    height: 8vh;
    float: right;
    margin-right: 10px;
    list-style: none;
}
.menu a{
    margin-top: 1vh;
    color: rgb(82, 55, 44);
    padding: 11px;
    display: block;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.menu a:hover{
    color: black;
    border: solid 1px;
    border-color: rgb(41, 92, 88);
    border-radius: 30px;
}
button{
    display: none;
}
.presentacion{
    width: 100%;
    height: 100vh;
    background-image: url('../img/fondo1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
h1{
    text-align: center;
    padding-top: 20%;
    font-size: 55px;
    color: rgb(41, 92, 88);;
}
.ariculos{
    width: 100%;
    height: 100vh;
    background-image: url('../img/fondo4.png');
    background-size: 100% 100%;
}
h2{
    text-align: center;
    padding-top: 10vh;
    font-size: 35px;
    color: rgb(41, 92, 88);;
}
hr{
    width: 20%;
    background-color: tomato;
    padding: 2px;
    border: none;
    margin-left: 40%;
    margin-right: 40%;
}
.articulos_hijos{
    width: 100%;
    height: 70vh;
}
article{
    width: 20%;
    height: 53vh;
    float: left;
    margin-top: 10vh;
    margin-left: 10%;
    box-shadow: 5px 10px rgba(129, 127, 127, 0.253);

}
article>img{
    width: 100%;
    height: 55vh;
}
article>section{
    width: 100%;
    height: 17vh;
}
.hr_articulo{
    width: 70%;
    margin-left: 15%;
    margin-top: 5px;
    margin-bottom: 5px;
}
.hr_articulo:hover{
    width: 10%;
    margin-left: 45%;
} 
section>p{
    width: 80%;
    height: 8vh;
    float: left;
    margin-top: 5px;
    margin-left: 10%;
    text-align: center;
    color: rgb(41, 92, 88);
    font-size: 15px;
}
.nosotros{
    width: 100%;
    height: 120vh;
}
.nosotros>img{
    width: 50%;
    height: 60vh;
    float: left;
}
.nosotros>section{
    width: 50%;
    height: 60vh;
    float: left;
    background-image: url('../img/fondo4.png');
    background-size: 100% 100%;
}
.parrafo_nosotros{
    padding: 15px;
    margin: 25px;
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.hr_nosotros{
    width: 10%;
    margin-left: 45%;
}
.hr_nosotros:hover{
    width: 50%;
    margin-left: 25%;
} 
footer{
    width: 100%;
    height: 60%;
    float: left;
    background-image: url('../img/fondo2.png');
    background-size: 100% 100%;
}
form{
    width: 30%;
    height: 15vh;
    float: left;
    margin-top: 20px;
    margin-left: 35%;
}
input[type=email] {
    width: 80%;
    height: 40px;
    margin-top: 10px;
    margin-left: 10%;
    border-radius: 20px;
    border: solid 1px;
}
input[type=submit] {
    width: 40%;
    height: 40px;
    margin-top: 10px;
    margin-left: 30%;
    border-radius: 20px;
    border-color: rgb(253, 75, 30);
    color: rgb(41, 92, 88);
}input[type=submit]:hover{
    background-color: rgb(253, 75, 30);
}
.navegadro_inferior>a{
    float: right;
    margin-top: 45vh;
    color: rgb(82, 55, 44);
    padding: 11px;
    display: block;
    font-family: cursive;
    margin-right: 7px;
    /*align-items: flex-end;*/

}.navegadro_inferior a:hover{
    color: black;
    border: solid 1px;
    border-color: rgb(41, 92, 88);
    border-radius: 30px;
}
.redes{
    float: left;
    margin-top: 9%;
    margin-left: 3%;
}
.redes>p{
    color: rgb(41, 92, 88);
    float: right;
    font-size: 20px;
    margin-top: 9%;
}